@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist";
}
body {
  font-family: "Urbanist";
}
.parent-container {
  display: flex;
  height: 100vh;
}
.sidebar {
  flex: 0 0 220px;
  background-color: #201f31;
  overflow-y: auto;
  padding: 16px;
}
.sidebar .nav-link,
.offcanvas-body .nav-link {
  font-size: 18px;
  color:#fff !important;
}
.offcanvas-body,
.offcanvas-header {
  background-color: #cef0d2;
}
.sidebar-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar .nav-link.active {
  color: #D8F275 !important;
  background-color: transparent !important;
}

.main-content {
  flex: 1 1 auto;
  min-width: 0;
  overflow: auto;
  background-color: #ffffff;
  padding: 16px;
}
.offcanvas-start {
  width: 220px;
  background-color: #e0f5ff;
}

table.result-table thead th {
  background-color: #201f31;
  color: #fff;
}
table.result-table tbody td {
  background-color: #d8f275;
}
.custom-radio input[type="radio"] {
  appearance: none;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
}

.custom-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
}

.login-wrapper .login-container {
  margin-right: 60px;
}

@media (max-width: 768px) {
  .login-wrapper .vh-100 {
    justify-content: center !important;
  }
  .login-wrapper .login-container {
    margin: 0 auto !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .rounded.p-4.fs-3 {
    font-size: 18px !important;
  }
  .checklabel {
    font-size: 19px !important;
  }
  .questitle {
    font-size: 24px !important;
  }
  .btnques {
    font-size: 16px !important;
    padding: 8px 16px !important;
  }
  .Traineeslabel
  {
    font-size: 10px !important;
  }
  .uploadbtn
  {
    font-size: 11px !important;
    margin-left: 3px !important;
  }
}
